body {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	line-height: 2;
}

a, .features-image, .features-heading, .awesome-cheklist i, .awesome-cheklist li, .block-heading, .cost, .cost-sub, .block-content {
	transition: all .3s ease;
}

p {
	margin: 0;
}

section {
	padding-top: 75px;
}

h1, h2, h3 ,h4 ,h5 {
	margin: 0;
}

h2 {
	font-size: 24px
}

h4 {
	font-size: 16px;
}

.btn {
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #1cbd87;
	background: #1cbd87;
	color: #fff;
	padding: 12px 18px;
}

.section-headline {
	font-weight: 400;
	margin: 0;
	color: #1cbd87;
}

@media (max-width: 992px) {
	.section-headline {
		font-size: 30px;
	}
}

/*Section Intro*/ 
.section-intro {
	padding-top: 100px;
	background-image: url(../images/background/intro-background.png);
	background-attachment: fixed;
	color: #fff;
}

@media (max-width: 992px) {
	.section-intro, .section-awesome {
		padding-bottom: 30px;
	}
}

.intro-logo {
	margin-bottom: 110px;
}

.intro-headline {
	color: #fff;
}

.intro-text {
	margin: 40px 0 35px 0;
}

.intro-btn {
	border: 1px solid #fff;
	margin-right: 10px;
}

.intro-btn:hover, .awesome-btn:hover, .plan-btn:hover, .signup-btn:hover {
	background: #fff;
	color: #1cbd87;
}

.intro-image {
	background-image: url(../images/intro-image.png);
	width: 462px;
	height: 365px;
}

/*Section Features*/
.section-features {
	padding-bottom: 45px;
}

.features-headline {
	margin-bottom: 80px;
}

.features-block {
	cursor: default;
}

.features-image {
	padding: 50px;
	background-color: #f6f6f6;
	border-radius: 50%;
	display: inline-block;
}

.features-heading {
	padding: 35px 0 20px 0;
}

.features-text {
		margin-bottom: 30px;
}

.features-block:hover .features-image {
	background-color: #1cbd87;
}

.features-block:hover .features-heading {
	color: #1cbd87;
}

/*Section Awesome*/
.section-awesome {
	background-color: #f6f6f6;
	overflow: hidden!important;
}

.awesome-headline {
	padding-bottom: 20px;
}

.awesome-cheklist {
	cursor: default;
	line-height: 2.2;
	list-style-type: none;
	font-weight: 400;
	padding: 20px 0;
}

.awesome-cheklist .fa-check {
	color: #1cbd87;
	white-space: pre;
}

.awesome-cheklist:hover li, .awesome-cheklist:hover i {
	opacity: .5;
}

.awesome-cheklist:hover li:hover, .awesome-cheklist:hover i:hover {
	opacity: 1;
}

.awesome-image {
	background-image: url(../images/awesome-image.png);
	background-repeat: no-repeat;
	width: 560px;
	height: 358px;
}

/*Section Testimonials*/
.section-testimonials {
	padding-bottom: 200px;
}

/*Section How*/
.section-how { 
	padding-bottom: 50px;
}

.how-headline {
	padding-bottom: 20px;
}

.how-text {
	padding-bottom: 30px;
}

.column-text {
	padding: 10px 0 25px 0;
}

.how-video {
	width: 100%;
}

/*Section Subscribe*/
.section-subscribe {
	padding-bottom: 200px;
	background-image: url(../images/background/subsribe-background.png);
	height: 270px;
}

.subscribe-headline {
	padding-bottom: 30px;
}

.form-group {
	border-color: #1cbd87;
}

/*Section Plan*/
.plan-block {
	margin-bottom: 50px;
}

.plan-headline {
	padding-bottom: 85px;
}

.block-heading {
	padding: 20px 0;
	background-color: #f6f6f6;
	border-radius: 10px 10px 0 0;
}

.heading {
	padding-bottom: 15px;
}

.cost {
	color: #1cbd87;
	font-size: 46px;
	font-weight: 400;
	line-height: 1;
}

.block-content {
	border: 1px solid #f6f6f6;
	border-radius: 0 0 10px 10px;
}

.description {
	list-style: none;
	padding: 0;
}

.description li {
	border-bottom: 1px solid #f6f6f6;
	margin: 0 35px 0 35px;
	padding: 15px 0;
}

.plan-btn {
	margin: 30px 0;
}

.plan-block:hover .block-heading {
	background-color: #1cbd87;
}

.plan-block:hover .block-heading, .plan-block:hover .cost, .plan-block:hover .cost-sub {
	color: #fff;
}

.plan-block:hover .block-content {
	border: 1px solid #1cbd87;
}

/*Section Signup*/
.section-signup {
	padding-top: 50px;
}

.signup-text {
	padding: 35px 0 25px 0;
}

.signup-btn {
	margin-bottom: 100px;
}
/*Section Partner*/
.section-partner {
	background: #f6f6f6;
}

/*Section Footer*/
.section-footer {
	padding: 0;
	background-color: #373737;
	width: 100%;
}

.footer-text {
	padding: 0;
	font-weight: 400;
	padding: 36px 0;
}

.footer-btn-group {
	padding: 0;
	padding: 36px 0;
	text-align: right;
}

.footer-btn {
	margin-left: 12px;
	padding: 6px;
	background-color: #fff;
	color: #373737;
	border-radius: 50%;
}

	.footer-btn:hover {
		background-color: #1cbd87;
		color: #373737;
	}